body {
    font-family: Arial, sans-serif;
    /*margin: 5px auto;*/
    padding: 20px;
    background-color: #f4f4f4;
}
header {
    line-height: 1;
    /*background-color: #fff;*/
    /*color: #fff;*/
    /*text-align: center;*/
}
.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

/*.external-link::after {
}*/

h1 {
    font-size: 30px;
    /*color: #fff;*/
}

h2 {
    color: #333;
    font-size: 15px;
    line-height: 1;
}
p {
    line-height: 1.5;
}